<div class="navbar">
    <%= link_to "/about" do %>
      <div class="blur navbar-font icon-div">
        <p><%= image_tag "link.svg" %>
        about</p>
      </div>
    <% end %> 
  <p class="navbar-font red"> lorem ipsum</p>
</div>
<div class="content">
  <p class="textblock container-wide">
  <%= @text.content %></p>
</div>

<div class="navbar footer">
  <button>
    <div class="blur navbar-font icon-div">
      <p><%= image_tag "copy.svg" %>&nbsp;click to copy</p>
      <% Clipboard.copy(@text.content) %>
    </div>
  </button>
  <p class="navbar-font"><%= image_tag "reload.svg" %>&nbsp;reload</p>
</div>