<div class="navbar">
    <%= link_to "/about" do %>
      <div class="blur navbar-font icon-div">
        <p><%= image_tag "link.svg" %>
        about</p>
      </div>
    <% end %> 
  <p class="navbar-font red"> a new lorem ipsum</p>
</div>

<div class="input-group" data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
  <div class="content">
    <p class="textblock container-wide" data-clipboard-target="input" type="text" value="https://www.lewagon.com/" readonly>
    <%= @text.content %></p>
  </div>
</div>

<div class="navbar footer">
  <div class="input-group-append">
    <button id="copy-button" class="blur navbar-font icon-div" data-action="click->clipboard#copy">
      <p><%= image_tag "copy.svg" %>&nbsp;click to copy</p>
    </button>
  </div>
  <div class="blur navbar-font icon-div">
    <%= button_to @text, :method => :get do %>
    <p><%= image_tag "reload.svg" %>&nbsp;reload</p>
    <% end %> 
  </div>
</div>